@{
    ViewBag.Title = "Kapcsolat";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    1132 Budapest<br />
    Váci út 56-58. III. em. 65.<br />
    <abbr title="Phone">P:</abbr>
    <a href="tel:+36703258987">+36 70 325 8987</a>
</address>

<address>
    <strong>E-mail:</strong>   <a href="mailto:nyolczas@gmail.com">nyolczas@gmail.com</a><br />
</address>